<div class="content-header">
  <h2>Decorated Cakes - ORDER ONLINE TODAY!</h2>
</div>
Costco members can now pre-order decorated sponge cakes from the Bakery department online. Members can also include a customised special message or inscription. <br><br>
Each cake serves 48 (5cm x 5cm servings) and retails for $18.99 <br><br>
Choose from white or chocolate cake, with vanilla cheesecake or chocolate mousse filling and vanilla or chocolate buttercream icing. <br><br>
Simply click below and fill out the info to get started. You will receive a confirmation email shortly thereafter. 24 hours notice is required for all orders. <br><br>
If you encounter any difficulties, <%= link_to "please contact your preferred location.", "https://www.costco.com/warehouse-locations" %> <br>

<%= link_to "Get Started", new_cake_order_path %>
