<!-- <div id="cake-info">
  <%#= @confirmation.cake_flavor %><br>
  <%#= @confirmation.icing_flavor %><br>
  <%#= @confirmation.mouse_flavor %><br>
  <%#= @confirmation.writing %><br>
  <%#= @confirmation.option %><br>
  <%#= @confirmation.additional_comments %><br>
  <%#= image_tag(@confirmation.photo) %><br>
</div>

<div id="pickup-info">
  <%#= @confirmation.member_name %><br>
  <%#= @confirmation.member_number %><br>
  <%#= @confirmation.pick_up_date.strftime("Pick up on %A %B %d, %Y") %><%#= @confirmation.pick_up_time.strftime(" by %l:%M %P") %><br>
  <%#= @confirmation.location %><br>
</div>

<%#= f.submit %>
<a class="back-to-final-form">Back</a> -->
