@import url('https://fonts.googleapis.com/css?family=Roboto');

$navbar-bg: #0073a6;
$header-bg: #eee;
$links: #0060a9;
$search: #3071a9;


* {
  margin: 0;
  padding: 0;
}

a {
  color: $links;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

#header-wrapper {
  background-color: $header-bg;
  height: 128px;
  width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 78.03px;
  }
  #header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  #header-content {
    display: flex;
    flex-direction: column;
    #header-nav {
      display: flex;
      justify-content: space-between;
    }
    #header-search {
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      input {
        width: 650px;
        height: 40px;
        border: 1px solid $search;
        font-size: 15px;
        padding-left: 10px;
      }
      #signin {

      }
      #cart {
        border-left: 1px solid grey;
      }
    }
  }
}

#navbar {
  height: 49px;
  width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: $navbar-bg;
}

.content {
  border: 1px solid black;
  margin-left: 12.5%;
  margin-right: 12.5%;
  height: 100vh;
}
