$separator: #9A9DA1;

textarea {
  margin-top: 7px;
  width: 100%;
  resize: none;
  height: 40px;
  padding: 7px;
  box-sizing: border-box;
}

.cake-designs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 7px;
  img {
    width: 300px;
    height: 175px;
  }
  .cakes {
    margin: 10px;
    flex-basis: 30%;
  }
}

.field {
  margin-bottom: 7px;
}

#additional-comments-field {
  margin-top: 7px;
}

#cake-writing {
  margin-top: 7px;
}

.cake_order_label {
  font-weight: bold;
}

#flavor_form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  .flavor_field {
    border-bottom: 1px solid $separator;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.buttons {
  margin-top: 10px;
}
