.content-header {
  display: flex;
  justify-content: center;
}

.order-image {
  img {
    width: 100px;
  }
}

.button {
  cursor: pointer;
  margin-top: 10px;
  height: 40px;
  font-size: 1.125rem;
  padding: 5px;
  color: white;
  background-color: #3071a9;
  border: 1px solid #cccccc;
}
